In [563]:
import pandas as pd
import numpy as np

In [564]:
df = pd.read_csv(r'D:\SMIT\CDE\Case-Study-Data-Cleaning\data\bank_marketing.csv')

In [565]:
df.head()

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no

In [566]:
#checking that if any dots are presnt or not.
df['job'].str.contains('\.', regex=True).any()

np.True_

In [567]:
df['job'] = df['job'].str.strip()
df['job'] = df['job'].str.replace('.', '_')

In [568]:
df['job'].str.contains('\.', regex=True).any()

np.False_

In [569]:
df['education'] #just see the data inside the education column.

0                   basic.4y
1                high.school
2                high.school
3                   basic.6y
4                high.school
                ...
41183    professional.course
41184    professional.course
41185      university.degree
41186    professional.course
41187    professional.course
Name: education, Length: 41188, dtype: object

In [570]:
df['education'] = df['education'].str.strip()
df['education'] =df['education'].replace('unknown',np.nan).str.replace('.','_')

In [571]:
df['education']

0                   basic_4y
1                high_school
2                high_school
3                   basic_6y
4                high_school
                ...
41183    professional_course
41184    professional_course
41185      university_degree
41186    professional_course
41187    professional_course
Name: education, Length: 41188, dtype: object

In [572]:
df[['credit_default','mortgage']].dtypes #checking the data type of the column credit_default and mortgage

credit_default    object
mortgage          object
dtype: object

In [573]:
df['credit_default']=df['credit_default'].astype(bool) #converting into bool

In [574]:
df['mortgage'] = df['mortgage'].astype(bool) #changing the datatype of mortagage.

In [575]:
df[['credit_default','mortgage']].dtypes

credit_default    bool
mortgage          bool
dtype: object

In [576]:
df['credit_default'] = np.where(df['credit_default'] == 'yes',1,0)

In [577]:
df['mortgage'] = np.where(df['mortgage']=='yes',1,0)

In [578]:
df['mortgage']

0        0
1        0
2        0
3        0
4        0
        ..
41183    0
41184    0
41185    0
41186    0
41187    0
Name: mortgage, Length: 41188, dtype: int64

In [579]:
df[['campaign_outcome','previous_outcome']].dtypes

campaign_outcome    object
previous_outcome    object
dtype: object

In [580]:
# --> LOGIC : np.where(condition, value_if_true, value_if_false)
df['campaign_outcome'] = np.where(df['campaign_outcome'] == 'yes', 1, 0)

In [581]:
df['previous_outcome'] = np.where(df['previous_outcome'] == 'success',1,0)

In [582]:
df = df.astype({'campaign_outcome':'bool','previous_outcome':'bool'})

In [583]:
df[['campaign_outcome','previous_outcome']].dtypes

campaign_outcome    bool
previous_outcome    bool
dtype: object

In [584]:
df['year'] = 2022

In [585]:
df.head()

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome,year
0,0,56,housemaid,married,basic_4y,0,0,may,13,261,1,0,False,93.994,4.857,False,2022
1,1,57,services,married,high_school,0,0,may,19,149,1,0,False,93.994,4.857,False,2022
2,2,37,services,married,high_school,0,0,may,23,226,1,0,False,93.994,4.857,False,2022
3,3,40,admin_,married,basic_6y,0,0,may,27,151,1,0,False,93.994,4.857,False,2022
4,4,56,services,married,high_school,0,0,may,3,307,1,0,False,93.994,4.857,False,2022

In [586]:
df['last_contact_date'] = pd.to_datetime(df['year'].astype(str) + '-' + df['month'].astype(str).str.zfill(2) + '-' + df['day'].astype(str).str.zfill(2))

C:\Users\DELL LATITUDE E 7450\AppData\Local\Temp\ipykernel_1892\1523863850.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['last_contact_date'] = pd.to_datetime(df['year'].astype(str) + '-' + df['month'].astype(str).str.zfill(2) + '-' + df['day'].astype(str).str.zfill(2))

In [589]:
df['last_contact_date'].dtype

dtype('<M8[ns]')

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome,year,last_contact_date
0,0,56,housemaid,married,basic_4y,0,0,may,13,261,1,0,False,93.994,4.857,False,2022,2022-05-13
1,1,57,services,married,high_school,0,0,may,19,149,1,0,False,93.994,4.857,False,2022,2022-05-19
2,2,37,services,married,high_school,0,0,may,23,226,1,0,False,93.994,4.857,False,2022,2022-05-23
3,3,40,admin_,married,basic_6y,0,0,may,27,151,1,0,False,93.994,4.857,False,2022,2022-05-27
4,4,56,services,married,high_school,0,0,may,3,307,1,0,False,93.994,4.857,False,2022,2022-05-03

In [591]:
#Now i making files:
client_df = df[['client_id', 'age', 'job', 'marital', 'education', 'credit_default', 'mortgage']]
client_df.to_csv('client.csv', index=False)

campaign_df = df[['client_id', 'number_contacts', 'contact_duration','previous_campaign_contacts', 'previous_outcome','campaign_outcome', 'last_contact_date']]
campaign_df.to_csv('campaign.csv', index=False)

economics_df = df[['client_id', 'cons_price_idx', 'euribor_three_months']]
economics_df.to_csv('economics.csv', index=False)